#container {

}

#white {
    background-color: white;
    height: 100%;
    width: 50%;
    text-align: center;
    float: right;
    top: 0;
    padding-top: 20px;
    position: relative;
    overflow-x: hidden;
}
#blue {
    height: 100%;
    width: 50%;
    background-color: rgb(28, 161, 242);
    background-image: url("./images/birdbackground.png");
    background-repeat: no-repeat;  
    color: white;
    float: left;
    margin-top: 0px;
    position: fixed;
    background-size: 900px;
    text-align: center;
}
#links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    font-size: 14px;
    color: lightgray;
    text-decoration: none;

}


#signUp {
    border-radius: 100px;
    background-color: rgb(28, 161, 242);
    color:white;
    width: 345px;
    line-height: 29px;
    padding: 6px, 16px;
    position: relative;
    white-space: wrap;
    font-weight: bold; 
    
}
#login {
    color: rgb(28, 161, 242); 
    border-radius: 100px;
    width: 345px;
    line-height: 29px;
    padding: 6px, 16px;
    position: relative;
    font-weight: bold;

}
#log {
    border-radius: 25px;
    width: 65px;
    height: 45px; 
}

#footer { 
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    color: grey;
    background-color: white;
}
#whiteBird {
    height: 75px;
    width: auto;
    padding: 0px;
    position: relative;
    text-align: left;
    /* justify-content: center; */
    margin-top: 40px;
    margin-right: 275px;
}
#content-wrap {
    padding-bottom: 2.5rem;

}

#list {
    margin-top: 200px;
    list-style-type: none; 
    text-align: left;
    font-size: 20px;
    font-family: "helvetica neue";
    font-weight: bold; 
    margin-bottom: 30px;
    text-align: center;
    

}
#happening {
    display: flex;
    text-align: left;
    justify-content: center;
    font-size: 25px;
    font-family: "helvetica neue";
    margin-top: 0px;
}
#joinTwitter {
    display: flex;
    text-align: left;
    justify-content: center;
    margin-right: 165px;
    font-size: 20px;
}
    
#email , #password {
    height: 45px;
    width: 220px; 

}
.iconify {
    height: 30px;
    width: auto;
}
