
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    display: block;
    grid-template-areas: 
    "blue white"
    "footer";
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#main{
    display: inline-flex;
    width: 100%;
    height: 500px;
}

#blue{
    background-color: #1DA1F2;
    position: relative;
    align-items: center;
    display: flex;
    grid-area: "blue";
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    justify-content: center;
    background-image: url("./images/birdbackground.png");
    background-repeat: no-repeat; 
    background-position-x: 400px;
    background-size: 600px
    /* overflow-y: auto */
    /* max-width: 50%; */
}

#blueText{
    color: white;
    max-width: 440px;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}
#blueText li {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 48px auto;
}

#inButton{
    display: block;

}

#button2, #button3 {
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding-top: 6px;
    padding-right: 36px;
    padding-bottom: 6px;
    padding-left: 36px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    border-radius: 100px;
    width: 350px;
    margin: 0px 0px 16px
}



#white{
    grid-area: "white";
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    background-color: white;
    justify-content: center;
    position: relative;;
    vertical-align: space-around;
    
} 

#smallLogo{
    height: 45px;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    position: relative;
}

input{
    color: #9DA8B2;
}

#login{
    color:#9DA8B2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0px
}

h1{
    display: block;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
}

h3{
    margin: 48px 0px 16px 0px;
    font-size: 18;
    line-height: 24px;
}

#button1{
    display: inline-block;
    background-color: #fff;
    border: 1px solid #1da1f2;
    color: #1da1f2;
    border-radius: 12px;
    padding: 12px 12px 12px 12px;
    font-size: 14px;
    text-align: center;
    vertical-align: baseline;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 100px
}

#button1:hover{
    background-color: #EAF5FD;
    color: black;

}

#buttons{
    display: block;
}

footer{
    padding: 11px 0px 11px;
    width: 100%;
    font-size: 12px;
    color: #aab8c2;
}
hr{
    margin: 0px 0px 0px 
}
#footUl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    text-align: center;
}
.link{
    text-decoration: underline;
}
.link:hover{
    cursor: pointer;
}

#largeLogo{
    
    transform-origin: 0px 0px;
}

#button2{
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;

}
#button2:hover{
    background-color: #006DBF
}

#button3{
    background-color: #fff;
    border: 1px solid #1da1f2;
    color: #1da1f2;
}

#button3:hover{
    background-color: #EAF5FD
}