@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Quicksand&display=swap');
* {
/*     border: 1px solid black; */
}
#root {
    font-size: 14px;
/*     height: 600px; */
    font-family: 'Lexend Deca', sans-serif;
}
#white {
    height: 326px;
    display: flex;
    justify-content: center;
    align-items: : center;
/*     background: gray; */
}
#login-container {
    width: 390px;
/*     border: 1px solid black; */
}
#logIn-small {
    color: #1da1f2;
    padding: 0px 12px;
    border-radius: 35px;
    border: 1px solid #1da1f2;
    font-weight: 550;
    font-size: .85em;
    height: 40px;
    background: white;
}
#header {
    display: flex;
    height: 50px;
    justify-content: space-between;
/*     border: 1px solid black; */
    margin: 16px 0 12px;
}
#bird-logo {
    background: red;
    background-image: url('images/birdlogo.png');
    background-size: 275%;
    background-repeat: no-repeat;
    background-position: center;
    height: 45px;
    width: 45px;
}
.header-large {
    font-size: 2em;
    font-weight: 900;
    line-height: 1.2;
}
#blue {
    height: 600px;
}
#LogIn-form {
    font-size: 1.25em;
/*     background: red; */
    margin: 45px 0 10px 0;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
}
.btn-login-medium {
    padding: 7.5px;
    font-size: .75em;
    border-radius: 50px;
    outline: none;
    border: 1px solid #1da1f2;
    font-weight: 600;
}
.sign-up {
    color: white;
    background: #1da1f2;
}
.log-in {
    color: #1da1f2;
    background: white;
}

/* BLUE PART */

#blue {
    background: url('images/birdbackground.png');
    background-position: -150px -100px;
    background-size: cover;
    background-repeat: no-repeat;
/*     #1b95e0 */
    background-color: #1da1f2;
    color: white;
    height: 412px;
    display: flex;
    justify-content: center;
}
#content-container {
    padding: 30px 20px;
    width: 405px;
}
#content-container > h1 {
    padding-bottom: 20px;
}
#content-container > h2 {
    font-size: 1.28em;
    padding-bottom: 35px;
}
.item {
    padding: 18px 0;
}
.icon {
    padding-right: 10px;
    width: 50px;
}
i {
    font-size: 2.4em;
}
.item-text {
    display: inline-block;
}
.item-title {
    display: inline-block;
    font-size: 1.25em;
}
.item-description {
/*     display: inline-block; */
    padding: 5px 0;
    font-family: 'Quicksand', sans-serif;
}

/* FOOTER */
#footer-container {
    height: 88px;
}
#footer-list {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
}
a {
    text-decoration: none;
    color: #adbac4;
    font-family: 'Quicksand', sans-serif;
    font-size: .84em;
}
li {
    padding: 0 10px;
}
#copyright {
    color: #adbac4;
    font-family: 'Quicksand', sans-serif;
    font-size: .84em;
}

