body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    grid-template-rows: 85% 15%;
}

.left {
    background-color:rgb(60, 185, 227);
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reasons-list {
    color: white;
    list-style-type: none;
    font-size: 22px;
    line-height: 72px;
    font-weight: bold;
    margin: 25px;
}
.right {
    background-color: violet;
    grid-column: 2 / -1;
}

.footer {
    background-color: lightpink;
    grid-column: 1 / -1;
}