
#container {
        height: 500px;
        background-image: url('images/birdbackground.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: grid;
        grid-template-columns: 50% 50%;
       
}
#left-side, #right-side{
   
    height:100%;
} 

#right-side{
    background-color:white;
}
body{
    background: whitesmoke;
    color: black;
    font-size:14px;
    line-height: 20px;
    overflow-y: scroll;
    position: relative;
    margin:0;
    direction: ltr;
    unicode-bidi: isolate;
    display: block;
}
    #left-side{
    background-color: rgba(46, 191, 235, 0.5);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

#left-side #left-sidecontent {
    background-color:rgba(46, 191, 235, 0.5);
    max-width:440px;
 
    padding:16px;
}
h2{
    color: white;
    list-style-type: none;
    font-size: 24px;
    font-weight: bold; 
}


#right-side #right-sidecontent {
    background-color:rgba(46, 191, 235, 0.5);
    max-width:440px;
    padding:16px; 
}
/*
#leftside ul li .icon {
    font-size: 28px;
    margin-right: 10px;
    
}
{
    background-color:rgb(60, 185, 227);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#right-side{

}


#StaticLoggedOutButton-signInTitle {
    font-size:10px;
    color:black;
    font-size:22px;
    line-height: 72px;
    font-weight: bold;
    margin: 75px;

}
.birdlogopage {
    font-size: 4cm;
    color:rgb(59, 165, 252);
}

  
  .inner-container {
    height:50px;
    background:white;
  }
  .emailInput{

  }
  .textInput{

  }*/
  button.EdgeButton{
      display:block;
      border:none;
      outline:none;
      font-size: 14px;
      line-height: 18px;
      padding: 8px 16px;
      border-radius:100px;
      
  }
  .EdgeButton{
      border-radius: 100px;
      box-shadow: none;
      cursor:pointer;
      font-size:14px;
      font-weight: bold;
      line-height: 20px;
      padding: 6px 16px;
      position: relative;
      text-align: center;
      white-space: nowrap;

      width:200px;
      margin-bottom:16px;

  }
  
  .StaticLoggedOut-buttonLogin{
    display:block;
    margin-bottom:16px;
    background-color:white;
    color:rgb(59, 165, 252);
    border:1px solid rgb(59, 165, 252);
}
.EdgeButton--primary{
    background-color:rgb(73, 173, 231);
    color:rgb(239, 243, 247);
    border:1px solid rgb(59, 165, 252);
}

.EdgeButton--secondary{
    background-color:rgb(255, 255, 255);
    color:rgb(59, 165, 252);
    border:1px solid rgb(59, 165, 252);
}
.icon_container >i {
    display:flex;
    align-items: center;
}
.icon_container{
    font-size: 16px;
    margin-right:20px;
}

.icon_text{
        display:inline-block;
    }
.icon_header{
    font-size: 20px;
    font-weight:bold;
}


#LogIn-form{
    display:block;
    position: absolute;
    top:20px;
    width:40px;
    display:flex;
    justify-content: center;
    margin-left:20px;
}

#emailInput{
    display:block;
    position: absolute;
    top:20px;
    width:40px;
    display:flex;
    justify-content: center;
}
#footer{
    height:50px;
}
#footer{
    height:20%;
    grid-column:1/-1;
    border-bottom:2px solid grey;
}

#footer ul {
    text-align:justify;
    font-size:8px;
    color:grey;
}
#footer ul li {
    display:inline-block;
    margin: 0 6px;
    
}
#footer ul li a {
    text-decoration: none;
    color:grey;
    font-size:8px;
}
#footer ul li:hover{
    text-decoration-line: underline;
}
