.container {
    display: grid;
    grid-template-columns: 700px 700px;
}


#white_section {
    height: 500px;
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
}

#first-form-div {
    width: 500px
}

#white-space-mainText {
    width: 400px
}

.white-button {
    font-size: 14px;
    width: 400px;
    height: 35px;
    border: 1px solid lightblue;
    border-radius: 100px;
}


#blue_section {
    background-color: #1da1f2;
    color: white;
    display: flex;
    flex-direction: column;
    /* grid-gap: 5px;
    grid-template-columns: 200px; */
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
}

#footer #footer-list {
    list-style-type: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 1400px;
}


.footer-item:hover {
    text-decoration: underline;
}

#login-button:hover {
    background-color: #e6ecf0;
}

#login-button {
    border: 1px solid lightblue;
    border-radius: 100px;
    font-size: 19px;
    background-color: white;
}