body {
    background-color:#e6ecf0;
    
    margin: 0;
    padding: 0;
   color:#14171a;


}
.main-container {
    display: flex;
   /* flex-flow: row; */
   position: relative;
   justify-content:center;
   background: #1da1f2;
   background-image: url(https://raw.githubusercontent.com/jenama/Pursuit-Core-Web-Twitter-CSS-Assignment/master/images/birdbackground.png);
   background-repeat: no-repeat;
   background-position: center;
  height: 100vh;

}

.white-section {
    /* display: inline-block;
    position: relative;
   right: 10px; */
  
  background-color: white;
  /* display: flex; */
  order: 2;
  /* align-content: center;
  justify-content: center; */
  width: 700px;
  height: 100vh;
  
} 

.blue-section {
    color: white;
  
    flex-direction: row;
    order: 1;
    justify-content: left;
    margin: 10px;
    width: 700px;
    height: 100vh;
  
}

.login {
    border-radius: 20px;
    width: 50px;
    padding: 10px;
    border-color:deepskyblue;
    color: deepskyblue
}

.sign-up {
    border-radius: 100px 100px;
    width: auto;
    height: auto;
    padding: 10px;
    border-color: deepskyblue;
    background-color: deepskyblue;
    color: white;
}
/* 
.button {
    
  
    /* /* /* position: relative;
    text-align: center;
    white-space: nowrap; */
    display:block;
    /* background-color: white; */ */
    color: deepskyblue;  */
   

/* } */

.unordered {
   list-style-type: none;
   font-size: 20px; 
}

.ul-list {
    list-style-type: none;
}

.ul-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blue-button {
        border: 1px solid deepskyblue;
        border-radius: 100px;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        padding: 6px 16px;
        position: relative;
        text-align: center;
        white-space: nowrap;
        display: block;
        margin: 16px;
        background-color: deepskyblue;
}

 .white-button {
        border: 1px solid deepskyblue;
        border-radius: 100px;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        padding:  16px;
        position: relative;
        text-align: center;
        white-space: nowrap;
        display:block;
        background-color: white;
        color: deepskyblue;
     } 
 
