/* @media screen and (500px){
  .white{
    top:0;
    width:100%;
    z-index: 100;
  }
} */

body{
  /* justify-content: center; */
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: grid;
  /* grid-template-rows: repeat(10, 1fr) */
  /* flex-wrap: wrap;
  flex-direction: row; */

  /* grid-template-columns: 50% 50%;
  height: 100%; */
}

#main-content{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-row-start: 1;
  grid-row-end: 9;


}

.blue{
  padding-top: 45%;
  text-align: center;
  color:white;
  background-color: #38A1F3;
  background-image: url('./images/birdbackground.png');
  background-repeat: no-repeat;
  background-size: 120% 100%;
  z-index: -1;
}


.white{
  justify-content: center;
  font-size: 14px;
}

ul > li{
  list-style: none;
}



#word-content{
padding: 25%
}

img{
  height: 40px;
  width:auto;
}

#input{

}

.white-button{
text-align: center;
border-radius: 16px;
padding-left: 25%;
padding-right: 25%;
padding-top: 10px;
padding-bottom: 10px;
}

#sign-up{
  background-color: #38A1F3;
  color: white;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 7px;
}

#login2{
  background-color: white;
  border: 2px solid #38A1F3;
  color: #38A1F3;
  font-weight: bold;
  font-size: 13px;
}

#footer{
  width: 100%;
  position: fixed;
  left:0;
  bottom:0;
  text-align: center;
  margin-top: 10px;
  background-color: white;
}

#footer ul li{
  /* justify-content: center; */
  color: lightgrey;
  font-size: 12px;
  display: inline-block;
}

#footer ul li a{
  color: lightgrey;
  text-decoration: none;
}

#footer ul li a:hover{
  text-decoration: underline;
}
